:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 3em;
  padding: 0 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button, a#getImage {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
  height: 2.5rem;
}
button:hover, a#getImage:hover {
  border-color: #646cff;
  background: #646cff;
}
button:focus, a#getImage:focus
button:focus-visible, #getImage:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.logoBar{
  margin-top: 3rem;
  border: 1px solid rgba(128, 128, 128, 0.12);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageDiv {
  margin-top: 2rem;
}

input {
  height: 2rem;
  font-size: 1.3rem;
}

#next, #prev, a#getImage {
  display: none;
  margin-top: 2rem;
}

a#getImage {
  background-color: darkgreen; 
  padding: 0.6em 1.2em 0em;
  height: 2.25rem;
  width: fit-content;
  margin: 2rem auto;
}
